.fake-hr {
    width: 100%;
    height: 3px;
    background: #2D3142;
}

#nav-sections {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#left-items {
    display: flex;
    gap: 15px;
    align-items: center;
}

#right-items {
    display: flex;
    gap: 15px;
    align-items: center;
}

#search-bar {
    width: 250px;
    height: 35px;
    border-radius: 10px;
}

#admin-button {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #EF8354;
    padding-bottom: 8px;
    font-size: larger;
    font-weight: bold;
}

#admin-button:focus {
    outline: solid;
    outline-color: #2D3142;
    outline-width: 3px;
}

#admin-icon {
    width: 25px;
    height: 25px;
    position: relative;
    top: 6px;
}

.logo {
    font-size: 37px;
    font-weight: bold;
}

.other-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30px;
}
.other-tick {
    background: #2D3142;
    width: 30px;
    height: 3px;
}

.login-out-button {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #2D3142;
    color: #FFFFFF;
    font-size: larger;
    font-weight: bold;
}

.login-out-button:focus {
    outline-style: solid;
    outline-color: #EF8354;
    outline-width: 3px;
}