.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 5px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.result:hover {
    background: #00000033;
}